---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/294021/historical/24?apikey=TiGjQ4h4L25TZ9LtZNbG4NhbQyWDS7IA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '44'
      Akamai-Grn:
      - 0.1a6bdc17.1666041703.6946bc
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2022-10-17T23:59:00+03:00","EpochTime":1666040340,"WeatherText":"Mostly
        cloudy","WeatherIcon":38,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":8.7,"Unit":"C","UnitType":17},"Imperial":{"Value":48.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Link":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us"},{"LocalObservationDateTime":"2022-10-17T22:59:00+03:00","EpochTime":1666036740,"WeatherText":"Mostly
        cloudy","WeatherIcon":38,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":9.2,"Unit":"C","UnitType":17},"Imperial":{"Value":48.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Li[...]
